<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<a th:href="@{/}">返回</a>
<h1>哥布林巢穴里的棍之勇者成名录 ゴブリンの す 巣 にいた こん 棍 の ゆうしゃ 勇者 めいかん 名鑑 です</h1>
<p style="width: 550px">
    直木奖作家辻村深月登顶日本各大畅销书排行榜的小说被改编成电影，由著名导演原惠一（《河童之夏》）执导，讲述的是一个催人泪下的故事：
    高一女孩安西心被同班女生欺负，从此拒绝上学。她房间里的镜子把她带入一座城堡，那里有六个和她有类似经历的同龄人。
    清新的画面深触校园暴力所带来的痛苦，青春期的懵懂少年在时间交错和命运纠缠中走进被欺凌的人生，最终相互理解并彼此救赎。
    影片于2022年圣诞档在日本上映后票房成绩不俗，入选2023年鹿特丹电影节“焦点”单元、入围日本电影学院奖最佳动画片奖提名。
</p>
</body>
</html>