<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<form th:action="@{/index2}"method="post">
    <input th:type="submit" th:value="返回" width="20" height="20"/>
</form>
<h1>重生之异世界当纯爱牛头人  うまれかわっ 生まれ変わっ た い 異 せかい 世界 じゅんあい 純愛 ごず 牛頭 にん 人 になります</h1>
<p style="width: 550px">
    距今超过六千年的远古世界，天地割裂的凄惨战争持续不断，毫无还手之力的人类被拥有强大力量的各个种族逼入绝境，濒临灭亡。
    此时传说中的史诗级牛头人战士出现率领人类对抗魔王，战败后反被魔王军俘获被迫当种马的艰难求生之路。
</p>
</body>
</html>