<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<a th:href="@{/index2}">返回</a>
<h1>作为黄毛的我被大卡车撞倒后转生异世界被牛头人抓住 ウォーターサーバーに はね 撥ね られ い 異 せかい 世界 に てんしょう 転生 して ごず 牛頭 にん 人 に つかまっ 捕まっ たのです</h1>
<p style="width: 550px">
    人们会经常地变动于仅有些许差别的平行世界，这点在这个世界已被证明——
    因为大卡车而转生的黄毛与住在一起的牛头人，在特殊的一天相遇了。
    互相抱有淡淡恋心的两人，在某天因为某些问题而大大改变。
    认为已经无法和对方结婚的双方，决定私奔，但是……
    她不在的世界毫无意义。
</p>
</body>
</html>